@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SpoqaHanSansNeo-Thin";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

body {
  font-family: SpoqaHanSansNeo-Regular;
}

div.pageBack {
  background-color: #F5F6FA;
  margin: 0;
  padding: 0;
}

div.basicBox {
  height: 15vh;
  padding: 16px 24px;
  border-radius: 6px;
  background-color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
